.tab {
	background-color: white;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
	width: auto;
}

td {
	border: 1px solid #ddd;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

.table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
}

#card {
	border: 1px solid #ddd;
	width: auto;
	height: auto;
	background-color: white;
}

#bill-wrapper {
	height: 400px;
	width: auto;
	position: absolute;
	overflow: auto;
	border: 1px solid black;
	text-align: center;
}

.debets {
	margin-top: 270px;
	margin-left: 405px;
}

.bill-inner {
	height: auto;
	width: auto;
	display: table-cell;
    border:1px solid black;
	vertical-align: middle;
}

#select {
	margin-right: 10px;
	margin-left: 10px;
}

.button {
	width: 200px;
	background-color: #d9d4d4;
	color: black;
}

#image-wrapper {
	height: 400px;
	position: absolute;
	overflow: auto;
	text-align: center;
}

#adding {
	width: 340px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#plus {
	color: black;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:invalid:not(:placeholder-shown) + .form_error {
  display: block;
}

.form_error {
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: red;
  text-align: left;
  margin-top: 3px;
  display: none;
  padding-left: 10px;
}