body {
	background-image:url("../../image/background.jpg");
	background-size:1400px 660px;
	font-family: Georgia, Helvetica, serif;
}

.row{
	padding-bottom:10px;
}

.form-group{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}

h4,h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.adding{
	padding-top:10px;
	margin-left:30px;
	width:324px;
    border:1px solid black;
	background-color:white;
}

#road-button{
	margin-right:20px;
	margin-left:10px;
	margin-bottom:10px;
	width:300px;
	background-color:#4CAF50;
	color:white;
}

#image-wrapper {
    height:420px;
    width:600px;
    position:absolute;
    overflow:auto;
    border:1px solid black;
    text-align:center;
}

.inner {
    height:auto;
    width:auto;
    display:table-cell;
    vertical-align:middle;
}

.buttons{
	padding-right:150px;
}

.button {
	width:200px;
}

#image-wrapper img {
	width:auto;
    height:auto;
}

span.marker {
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    line-height: 20px;
    cursor: pointer;
}

span.marker:before {
  content: "";
  background: url("./image/marker.png") left center no-repeat;
  vertical-align: middle;
  background-size: 12px auto;
  padding-left: 16px;
}

span.caption {
    width: 80px;
    color: #fff;
    size:5px;
    padding: 4px;
    position: absolute;
    top: 0;
    left: 20px;
    display: none;
}

#bicycle-wrapper {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 2em auto;
    background: #f6f6f6;
    border: 2px solid #ddd;
    margin-left:0;
    margin-top:0;
}

#bicycle-wrapper img {
	width: 60px;
    height: 60px;
    display: block;
    margin: 25px auto;
    margin-left: 0;
    margin-top:0;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:invalid:not(:placeholder-shown) + .form_error {
  display: block;
}

.form_error {
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: red;
  text-align: left;
  margin-top: 3px;
  display: none;
  padding-left: 10px;
}
