body {
	background-image:url("./image/background.jpg");
	background-size:1400px 660px;
	font-family: Georgia, Helvetica, serif;
}

.navbar-inverse.nav-upper {
  width: 100%;
  background-color: #272929;
}

.navbar-inverse.nav-upper ul{
	float: left;
}

.navbar-inverse.nav-upper .navbar-nav.navbar-right > li > a {
  display: #272929;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-inverse.nav-upper .navbar-nav.navbar-right > li > a:hover {
  background-color: #272929;	
  color: #084473;
}

.navbar-inverse.nav-upper .navbar-nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.navbar.navbar-inverse.navbar-static-top.navbar-lower  {
  width: 100%;
  background-color: #d9d4d4;
}

.navbar.navbar-inverse.navbar-static-top.navbar-lower .navbar-nav.navbar-left{
	padding-left:400px;
}

.navbar.navbar-inverse.navbar-static-top.navbar-lower .navbar-nav.navbar-right ul{
	padding-right:10px;
}

.navbar.navbar-inverse.navbar-static-top.navbar-lower .navbar-nav.navbar-left > li > a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.navbar.navbar-inverse.navbar-static-top.navbar-lower .navbar-nav.navbar-right > li {
  text-align: center;
  color: #d9d4d4;
  text-decoration: none;
  font-size: 0px;
}

.navbar.navbar-inverse.navbar-static-top.navbar-lower .navbar-nav.navbar-left > li > a:hover {
  background-color: #084473;
  color:white;
}



@media (min-width: 768px) {
  .navbar-inverse.nav-upper .navbar-nav.navbar-right  {
  	display: block;
    margin-top: 0;
    border-radius:0;
  }
}


.tab{
	background-color:white;
}

th{
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  width: auto;
}

td{
  border: 1px solid #ddd;
  padding: 10px;
  	
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.table{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



.inner {
    display:table-cell;
    vertical-align:middle;
}

#card{
	border: 1px solid #ddd;
	width:auto;
	height:auto;	
	background-color:white;
}

#bill-wrapper {
    height:200px;
    width:700px;
    position:absolute;
    overflow:auto;
    border:1px solid black;
    text-align:center;
}

.debets{
	margin-top: 270px;
	margin-left: 405px;
}

.bill-inner {
    height:auto;
    width:700;
    display:table-cell;
    vertical-align:middle;
}

#select{
	margin-right:10px;
	margin-left:10px;
}

.button{
	width:200px;
	background-color:#d9d4d4;
	color:black;
}

#image-wrapper {
    height:400px;
    position:absolute;
    overflow:auto;
    text-align:center;
}

#adding{
	width:340px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
}

#plus{
	color:black;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form_error {
  display: block;
}

.form_error {
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: red;
  text-align: left;
  margin-top: 3px;
  display: none;
  padding-left: 10px;
}