body {
	background-image: url("./image/background.jpg");
	background-size: 1400px 660px;
	font-family: Georgia, Helvetica, serif;
}

.tab{
	background-color:white;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
	width: auto;
}

h4,h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid #ddd;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

.table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.table-inner {
	height: auto;
	width:auto;
	display: table-cell;
	vertical-align: middle;
}

h4,h3,p{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#road-button{
	margin-right:20px;
	margin-left:10px;
	margin-bottom:10px;
	width:340px;
	background-color:#4CAF50;
	color:white;
}

#replenish{
	margin-right:10px;
	margin-left:10px;
	width:340px;
	background-color:#4CAF50;
	color:white;
}

#label_cash{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
  	font-weight: 300;
  	color:orange;
}

.cash{
	margin-top:30px;
	border: 1px solid #ddd;
	width:auto;
	height:auto;	
	background-color:white;
}


#form{
	border: 1px solid #ddd;
	width:auto;
	height:auto;	
	background-color:white;
}

.form-group{
	padding-right:10px;
	padding-left:10px;
}

#table-wrapper {
	height: 400px;
	width:800px;
	position: absolute;
	overflow: auto;
	text-align: center;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:invalid:not(:placeholder-shown) + .form_error {
  display: block;
}


input:invalid:not (:placeholder-shown ) +.form_error {
	display: block;
}

.form_error {
	font-size: 15px;
	font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: red;
	text-align: left;
	margin-top: 3px;
	display: none;
	padding-left: 10px;
}